header{
  display: grid;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  justify-content: center;
  align-items: center;
  transition: top 1s;

}
.mobile_header{
  transition: top 1.5s;
}
.nav_link {
  color: white;
  border: none;
  background-color: transparent;
 padding-right: 15px;
 padding-left: 15px;
 font-size: 20px;
 padding-bottom: 16px;
 padding-top: 16px;
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
 z-index: 30;
 opacity: 1;

 
}
.nav_link:active{
  opacity: 0.5;
  transition: 0.1s;
}
.nav_link:hover{
  color: #6ACF65;
  transition: 0.6s;
  cursor: pointer;
  font-size: 20px;
  
  z-index: 10;
  opacity: 1;
  background-color: #046307;
  

}

nav{
  display: flex;
  align-items: center;
  text-align: center;
  background-color:#046307;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 9;
}
.hamburger_icon{
  display: none;
  background-color: #046307;
  border-bottom-right-radius: 15px;
  align-items: center;
  justify-content: center;
 

}
.container{
  display: absolute;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.hamburger_nav{
  display: none;
}
.nav_link_hamb{
  display: none;
}
.nav_link_hamb:active{
  opacity: 0.5;
  transition: 0.1s;
}
.nav_link_hamb:hover{
  color: #6ACF65;
  transition: 0.6s;
  cursor: pointer;  
  z-index: 10;
  opacity: 1;
  background-color: #046307;
  

}





/*To add hamburger menu at 600px */
@media screen and (max-width:640px) {
  nav{
    display: none;
  }
  header{
    position: fixed;
    display: block;
  }
  .hamburger_icon{
    display:inline-block;
    width: 60px;
    height: 50px;
    z-index: 40;
    position: relative;
    display: flex;
  }
  .hamburger_nav{
   display: none;
   position: absolute;
   z-index: 39;
   top: 0px;
   left: 0px;
   padding-top: 45px;
   padding-bottom: 30px;
   border-bottom-left-radius: 0px;
   transition: top 1.5s;

  }
  .nav_link_hamb{
    display: block;
    padding-top: 20px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;

  }
}